.header-pertama {
  background: rgba(0, 140, 140, 0.45);
  color: black;
  font-weight: bold;
  text-align: center;
}

.bagianBawah {
  border-top: 5px solid rgba(0, 140, 140, 0.45);
  text-align: center;
}
#header-win{
  background-color: rgba(0, 140, 140, 0.45);
}
#footer-win{
  background-color: rgba(0, 140, 140, 0.45);
}
#lihatwarna{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 25%;
  margin: 0 auto;
}